<div class="flex items-center pt-2">
  <%= live_component(@socket, FrontendWeb.ItemLive.PredicateHeader, folder: "show", predicate: @predicate) %>
  <div class="pl-8">
    <%= @value || "-" %>
  </div>
</div>
