<dt class="flex justify-between">
  <h2 class="text-sm font-semibold text-gray-800"><%= Gettext.dgettext(FrontendWeb.Gettext, "predicate", @predicate |> prettify_predicate()) %></h2>
  <span class="text-sm font-medium text-gray-500">(<%= @predicate["real_name"] %>)</span>
</dt>
