<div class="flex">
    <%= for predicate <- @value.__struct__.__schema__(:field_config) do %>
        <div>
            <div>
                <%= predicate.label %>
            </div>
            <%= live_component(@socket, FrontendWeb.ItemLive.Predicate, only_values: true, folder: "show", predicate: predicate, value: Map.get(@value, predicate.name, []), template: predicate.template, type: :relation) %>
        </div>
    <% end %>
</div>
