<div class="flex items-center pt-2">
  <%= unless Map.get(assigns, :only_values, false), do: live_component(@socket, FrontendWeb.ItemLive.PredicateHeader, folder: "show", predicate: @predicate) %>
  <div class="pl-8">
    <%= @value || "-" %>
  </div>
</div>
