<div class="flex w-full mb-2 items-top">
  <div class="w-1/3 font-medium leading-snug"><%= Graph.Struct.Language.find(:code, @value.language).name %></div>
  <div class="flex-1 pl-8"><%= input(@form, @predicate["name"], using: "lang_text") %></div>
</div>
