@tailwind base;

@tailwind components;

div.logo {
  a {
    @apply mx-auto flex items-center flex-shrink-0 px-6 space-x-4;
  }
}

nav.menu {
  a.active {
    @apply bg-indigo-50 text-indigo-600 group flex items-center px-2 py-2 text-sm font-medium rounded-md;

    svg {
      @apply text-indigo-500 mr-3 flex-shrink-0 h-6 w-6;
    }
  }

  a:not(.active) {
    @apply text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md;

    svg {
      @apply text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6;
    }
  }
}

footer {
  @apply px-8 pb-4 pt-8 text-gray-400 text-sm flex items-center;

  span {
    @apply flex-1;
  }

  ul {
    @apply flex items-center;

    li {
      a {
        &:hover {
          @apply text-gray-900;
        }
      }
    }
  }
}

pre {
  @apply bg-gray-800 text-sm pt-4 relative;

  .status {
    @apply absolute right-0 top-0 mt-1 mr-1 rounded-tr-lg rounded-bl-lg py-1 px-2 font-bold;
  }

  .status-ok {
    @apply bg-green-500 text-green-100;
  }

  .status-error {
    @apply bg-red-500 text-red-100;
  }
}

.hljs {
  display: inline-block;
  @apply text-gray-300;
}

code::after {
  content: "";
}

code::before {
  content: "";
}

code.language-json,
pre.language-json {
  .token.operator {
    @apply text-code-blue;
  }
  .token.punctuation {
    @apply text-code-white;
  }
  .hljs-boolean {
    @apply text-code-red;
  }
  .hljs-string {
    @apply text-code-white;
  }
  .hljs-attr {
    @apply text-code-yellow;
  }
}

ul.pagination {
  @apply inline-flex items-center py-8 mt-8;

  li {
    a {
      @apply p-4 rounded-lg leading-none opacity-50 text-indigo-900;

      &:hover {
        @apply bg-gray-50 opacity-100;
      }

      &:not([href]) {
        @apply bg-gray-100 text-indigo-900 opacity-100 font-medium;
      }
    }

    span {
      @apply p-4 rounded-lg leading-none opacity-50 text-indigo-900;
    }
  }
}

iframe {
  display: none;
}

@tailwind utilities;
