<%= live_component @socket, FrontendWeb.ItemLive.Menu, assigns %>
<div class="p-6">
  <div class="space-y-8">
    <%= for domain <- @sections do %>
      <%= live_component(@socket, FrontendWeb.ItemLive.Domain, folder: "show", domain: domain, item: @item, types: @types, template: domain["config"][:template], type: domain["type"]) %>
    <% end %>
  </div>
</div>
