<div class="item">
  <div class="pl-8 header">
    <h1 class="text-3xl font-bold text-brand-ind font-oxygen">
      <%= Map.get(get_lang(Map.get(@item, :label, []), "sv-SE"), :value,
      "Unknown") %>
    </h1>
    <ul class="flex text-brand-ind font-oxygen">
      <li class="mr-8"><span class="font-bold">uid:</span> <%= @item.uid %></li>
      <li class="mr-8">
        <span class="font-bold">type:</span> <%= get_type(@item) %>
      </li>
    </ul>
  </div>
</div>
