<footer>
    <span>
        Source code licensed under GNU AGPLv3. Database dumps under <a target="_blank" class="underline" href="https://opendatacommons.org/licenses/pddl/1-0/">PDDL</a>. API under <a target="_blank" class="underline" href="https://opendatacommons.org/licenses/odbl/1-0/">ODbL</a>.
    </span>
    <ul class="space-x-4">
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/terms">Terms of Service</a></li>
        <li><a href="https://github.com/pixelmonster-ou/metagraph/issues">Contact us</a></li>
        <li><a href="https://github.com/pixelmonster-ou/metagraph">Github</a></li>
    </ul>
</footer>
