<a class="px-3 py-1 mr-1 text-sm text-white bg-indigo-500 rounded-lg hover:bg-indigo-600" href="/uid/<%= @value.uid %>">
  <%= Map.get(get_lang(Map.get(@value, :label, []), "sv-SE"), :value, "Unknown") %>
<a>
