<div class="flex items-center pt-2">
  <%= unless Map.get(assigns, :only_values, false), do: live_component(@socket, FrontendWeb.ItemLive.PredicateHeader, folder: "show", predicate: @predicate) %>
  <div class="<%= unless Map.get(assigns, :only_values, false), do: "pl-8", else: "" %>">
    <%= if @value, do: live_component(@socket, FrontendWeb.ItemLive.RelationTag, value: @value, predicate: @predicate) %>
  </div>
</div>
