<div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <%= unless Map.get(assigns, :only_values, false), do: live_component(@socket, FrontendWeb.ItemLive.PredicateHeader, folder: "show", predicate: @predicate) %>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <%= if @value, do: live_component(@socket, FrontendWeb.ItemLive.RelationTag, value: @value, predicate: @predicate), else: "-" %>
  </dd>
</div>
