<div class="h-full w-full flex flex-col items-center justify-center">
  <div class="w-2/5 px-4 bg-white rounded shadow-md relative top-0 bottom-0 left-0 right-0">
    <div class="pt-6 text-center">
      <p class="text-sm font-bold text-blue" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="text-sm font-bold text-red-dark" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>
    <div>
      <%= @inner_content %>
    </div>
  </div>
</div>
